/*Este codigo es para eliminar cualquier estilo previo*/
* {
    margin: 0;
    padding:0;
    display: flex;
   

}
menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    margin-top: 50px;


}
.menu-izquierda{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row ;
    

}
.menu-izquierda img {
    
    width: 230px;

}
.menu-derecha{
    /* background-color: red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    
}

.enlaces-menu-derecha{

    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #273227;
    padding: 0px 15px 0px 15px;

}
.enlaces-menu-derecha.hover{



}

.titulo{

    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-self: center;

}
.titulo p{


    
}
